ejs
Copy code
<footer>
  <footer class="footer">
   
    <h1></h1>
    <div class="footer-content">
      
        <h3>Lib-Fake</h3>
        <div class="contact-info">
            <p>Número de contacto: +0800-ufk-mom</p>
            <p>Correo: cojeviejas@libfake.com</p>
            <p>Sucursal: hasta tu casa bebe, toc toc</p>
        </div>
    </div>
  </footer>
</footer>
</body>
</html>