<header>
    <section class="logo">
      <a href="/" class="fa-solid fa-star-of-life" style="text-decoration:none; color: white;"></a>
    </section>
    <!-- ... Otros elementos del header ... -->
  </header>