<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Lib-Fake</title>
</head>
<body class="main-styles">

<h1></h1>
  <header class="header">
    <a href="/">
        <div class="logo">
           <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
              <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783"/>
            </svg>
        </div>
    </a>
    <div class="search-box">
        <input type="text" placeholder="Buscar..." class="rounded-input">
        <button class="search-button">Buscar</button>
    </div>
    <div class="user-options">
        <a href="/register">Registrar</a> / <a href="/login">Login</a>
    </div>
</header>


<div class="product-card">
  <img src="https://media.npr.org/assets/img/2020/07/20/91h4jzx7nel_custom-470272e7d61d233ac3af232fba443d91ccf8d6e9-s1100-c50.jpg" alt="Producto 1">
  <div class="product-info">
    
      <h3>Producto 1</h3>
      <p class="price">$50.00</p>
      <p class="discount">Descuento: 10%</p>
  </div>
</div>

<div class="product-card">
  <img src="https://images4.penguinrandomhouse.com/cover/9781984899767" alt="Producto 1">
  <div class="product-info">
      <h3>Producto 2</h3>
      <p class="price">$50.00</p>
      <p class="discount">Descuento: 10%</p>
  </div>
</div>

<div class="product-card">
  <img src="https://assets.lectulandia.com/b/ab/David%20Walliams/La%20abuela%20ganster%20(6)/big.jpg" alt="Producto 1">
  <div class="product-info">
      <h3>Producto 3</h3>
      <p class="price">$50.00</p>
      <p class="discount">Descuento: 10%</p>
  </div>
</div>

<div class="product-card">
  <img src="https://people.com/thmb/741CNuvL-rpxnNYjE8frdY8Gdck=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():focal(665x0:667x2)/black-authors-2-f5bb652b47c04fd5a3b3412b66eabe39.jpg" alt="Producto 1">
  <div class="product-info">
      <h3>Producto 4</h3>
      <p class="price">$50.00</p>
      <p class="discount">Descuento: 10%</p>
  </div>
</div>

<div class="product-card">
  <img src="https://m.media-amazon.com/images/I/414IrgFVNNL.jpg" alt="Producto 1">
  <div class="product-info">
      <h3>Producto 5</h3>
      <p class="price">$50.00</p>
      <p class="discount">Descuento: 10%</p>
  </div>
</div>

<div class="product-card">
  <img src="https://i1.wp.com/thenerddaily.com/wp-content/uploads/2020/05/The-Guest-List-by-Lucy-Foley.jpg?resize=1200,1822&ssl=1" alt="Producto 1">
  <div class="product-info">
      <h3>Producto 6</h3>
      <p class="price">$50.00</p>
      <p class="discount">Descuento: 10%</p>
  </div>
</div>

<div class="product-card">
  <img src="https://images-na.ssl-images-amazon.com/images/I/91LqcgpmcrL.jpg" alt="Producto 1">
  <div class="product-info">
      <h3>Producto 7</h3>
      <p class="price">$50.00</p>
      <p class="discount">Descuento: 10%</p>
  </div>
</div>

<div class="product-card">
  <img src="https://media.npr.org/assets/img/2020/09/24/91kikzx6cdl_custom-f0b2be087ea32e8694f07a7984831181275356f9-s1100-c50.jpg" alt="Producto 1">
  <div class="product-info">
      <h3>Producto 8</h3>
      <p class="price">$50.00</p>
      <p class="discount">Descuento: 10%</p>
  </div>
</div>
  <section class="product-shelf">
    <h1></h1>
    <!-- Aquí solo he mantenido 6 productos -->
    <!-- (Producto 1) -->
    <!-- (Producto 2) -->
    <!-- (Producto 3) -->
    <!-- (Producto 4) -->
    <!-- (Producto 5) -->
    <!-- (Producto 6) -->
  </section>
  
  <footer class="footer">
   
    <h1></h1>
    <div class="footer-content">
      
        <h3>Lib-Fake</h3>
        <div class="contact-info">
            <p>Número de contacto: +0800-ufk-mom</p>
            <p>Correo: cojeviejas@libfake.com</p>
            <p>Sucursal: hasta tu casa bebe, toc toc</p>
        </div>
    </div>


</body>
</html>