<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RemediLink - Productos</title>
  <link rel="stylesheet" href="/public/css/styles-home.css">
  <link rel="stylesheet" href="/css/normalize.css">
  <!-- ... Otros elementos del head ... -->
</head>
<body>