<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" /> <!-- pagina para los iconos-->
    
    
    <link rel="stylesheet" href="/css/styles.css" /> <!--para vilcular o conectar a la de estilos con clases-->
    <link rel="stylesheet" href="/css/stylescarrito.css" /> 

    <title>ProductCart</title>
</head>

<body>
    <header>
        <h1></h1>
        <header class="header">
          <a href="/">
              <div class="logo">
                 <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
                    <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783"/>
                  </svg>
              </div>
          </a>
          <div class="search-box">
              <input type="text" placeholder="Buscar..." class="rounded-input">
              <button class="search-button">Buscar</button>
          </div>
          <div class="user-options">
              <a href="/register">Registrar</a> / <a href="/login">Login</a>
          </div>
      </header>
      
<nav>
    <ul>
        <li>
            <a  href="/register">Crea tu cuenta <i class="fa-solid fa-address-card"></i></a>
        </li>
        <li>
            <a  href="/login">Si ya sos Cliente Ingresá a tu cuenta <i class="fa-solid fa-right-to-bracket"></i></a>
        </li>
        <li>
            <a href="/productCart">Productos <i class="fa-solid fa-basket-shopping"></i></a>
        </li>
        <li>
            <a href="#" id="cart-link">Carrito</a>
       </li>
    </ul>
       
    <main>
        <h2>Carrito de Compras</h2>
        <ul id="cart-items">
            <li class="cart-item">
                <span>Producto 1</span>
                <span>$20</span>
                <label for="quantity">Cantidad:</label>
    <select id="quantity" name="quantity">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
                <button class="remove-button">Eliminar</button>
            </li>
            <li class="cart-item">
                <span>Producto 2</span>
                <span>$70</span>
                <button class="remove-button">Eliminar</button>
            </li>
        <li class="cart-item">
                <span>Producto 3</span>
                <span>$1020</span>
                <button class="remove-button">Eliminar</button>
            </li>
        </ul>
    </main>
    
    <script src="scripts.js"></script>
    </nav>
    </header>

       
    
</body>
 <footer class="footer">
   
            <h1></h1>
            <div class="footer-content">
              
                <h3>Lib-Fake</h3>
                <div class="contact-info">
                    <p>Número de contacto: +0800-ufk-mom</p>
                    <p>Correo: cojeviejas@libfake.com</p>
                    <p>Sucursal: hasta tu casa bebe, toc toc</p>
                </div>
            </div>
          </footer>
    </html>